<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/favicon.ico">
    <script>
        window.onload = function() {
            document.querySelector("#res").scrollIntoView({block:'start', behavior: 'smooth'});
        }
    </script>
    <title>CNPS</title>
</head>
<body>
    <%-include('./components/src.ejs')%> <!-- /#src -->
    <div id="res">
        <div id="error-window" class="paragraph" id="status">
            <h1 class="con-title"> 에러! </h1>
            <hr class="con-line">
            <p class="con-content">
                <%=code%><br><%=msg%>
            </p>
        </div>
        <div id="solution-window" class="paragraph" id="predict">
            <h1 class="con-title"> 솔루션: </h1>
            <hr class="con-line">
            <% for (var i=0;i<sol.length;i++) { %>
                <p class="con-content"><%=sol[i]%></p>
            <% } %>
        </div>
        <%-include('./components/finish.ejs')%>
    </div>
</body>
</html>